<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sliding signup and signin form - BYTEWEBSTER</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container">
      <div class="forms-container">
        <div class="form-control signup-form">
          <form action="/signup">
            <h2>Signup</h2>
            <input type="text" placeholder="username" name="username" required />
            <input type="email" placeholder="email" name="email" required />
            <input type="text" placeholder="password" name="Password" required />
            <button type="submit">Signup</button>
          </form>
        </div>
        <div class="form-control signin-form">
          <form action="/signin">
            <h2>Signin</h2>
            <input type="text" placeholder="username" name="username" required />
            <input type="password" placeholder="Password" name="password" required />
            <button type="submit">Signin</button>
          </form>
        </div>
      </div>
      <div class="intros-container">
        <div class="intro-control signin-intro">
          <div class="intro-control__inner">
            <h2>Welcome back!</h2>
            <p>
              Welcome back! We are so happy to have you here. It's great to see you again.
            </p>
            <button id="signup-btn">No account yet? Signup.</button>
          </div>
        </div>
        <div class="intro-control signup-intro">
          <div class="intro-control__inner">
            <h2>Come join us!</h2>
            <p>
              We are so excited to have you here.If you haven't already, create an account. 
            </p>
            <button id="signin-btn">Already have an account? Signin.</button>
          </div>
        </div>
      </div>
    </div>
  <script  src="./script.js"></script>
</body>
</html>